# Imports

In [1]:
# === Imports (centralized) ===
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.tsa.seasonal import STL, seasonal_decompose
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy.stats import boxcox
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LassoCV, RidgeCV, LinearRegression, ElasticNetCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import TimeSeriesSplit
from sklearn.impute import SimpleImputer
from sklearn.inspection import permutation_importance
from sklearn.linear_model import Ridge
import boto3
from pyathena import connect

# Tables Uploads

In [2]:

import os
os.environ["AWS_ACCESS_KEY_ID"] = "AKIATEUDPLA6OVNOVQVT"
os.environ["AWS_SECRET_ACCESS_KEY"] = "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"


REGION = "us-east-1"
ATHENA_RESULTS_S3 = "s3://little-caesars-datastore/queries/"
WORKGROUP = "primary"

In [3]:
# UPLOADING Heatmap
conn = connect(s3_staging_dir=ATHENA_RESULTS_S3, region_name=REGION, work_group="primary")
sql = "SELECT * FROM little_caesars.heatmap"
heatmap = pd.read_sql(sql, conn)
heatmap.head()

C:\Users\NayyeraAboelnaga\AppData\Local\Temp\ipykernel_19060\69582114.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  heatmap = pd.read_sql(sql, conn)

,store_number,carryout_sales_pizza,carryout_sales_non_cash_coupon,delivery_sales_pizza_mobile_app,carryout_sales_school_lunch_or_church_org,carryout_sales_promotional_sales,carryout_sales_sandwich,carryout_sales_salad,carryout_sales_dessert,carryout_sales_alcoholic_beverage,...,ingestion_date,organizational_expenses,rou_lease_expense,business_tax_expense,controllable_profits,profit_sales_pct,store_lc,year,month,day
0,364011,88626.0,0,31608.0,0,0,0,0,0,0,...,09/18/2025,nan,nan,nan,None,None,None,2025,02,24
1,364012,32063.0,0,8841.0,0,0,0,0,0,0,...,09/18/2025,nan,nan,nan,None,None,None,2025,02,24
2,364013,43605.0,0,17298.0,0,0,0,0,0,0,...,09/18/2025,nan,nan,nan,None,None,None,2025,02,24
3,364014,43325.0,0,15239.0,0,0,0,0,0,0,...,09/18/2025,nan,nan,nan,None,None,None,2025,02,24
4,364015,21521.0,0,8820.0,0,0,0,0,0,0,...,09/18/2025,nan,nan,nan,None,None,None,2025,02,24

In [4]:
# UPLOADING Hierachy
conn = connect(s3_staging_dir=ATHENA_RESULTS_S3, region_name=REGION, work_group="primary")
sql = "SELECT * FROM little_caesars.hierarchy"
geo_stores = pd.read_sql(sql, conn)
geo_stores.columns = geo_stores.iloc[0]
geo_stores = geo_stores[1:].reset_index(drop=True)
geo_stores.head()

C:\Users\NayyeraAboelnaga\AppData\Local\Temp\ipykernel_19060\1102283296.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  geo_stores = pd.read_sql(sql, conn)

,Store_Number,Heatmap_Store_Number,Reduced_Store_Number,Store_Name,Full_Store,Director,DO,Market,Store_Address,State,Director_Email,Email_Address,Date,None,2025
0,03647-00011,364011,11,KCK,KCK 03647-00011,,Josh Butler,KS Market,151 S. 18th Street Suite K,Kansas,,jbutler@apricusqsr.com,2023-10-22,None,2025
1,03647-00012,364012,12,Leavenworth,Leavenworth 03647-00012,,Josh Butler,KS Market,2024 S. 4th Street Leavenworth,Kansas,,jbutler@apricusqsr.com,2023-10-22,None,2025
2,03647-00013,364013,13,Topeka,Topeka 03647-00013,,Josh Butler,KS Market,5329 SW 21st Street Topeka,Kansas,,jbutler@apricusqsr.com,2023-10-22,None,2025
3,03647-00014,364014,14,Olathe,Olathe 03647-00014,,Josh Butler,KS Market,904 E Santa Fe St. Olathe,Kansas,,jbutler@apricusqsr.com,2023-10-22,None,2025
4,03647-00015,364015,15,Lawrence,Lawrence 03647-00015,,Josh Butler,KS Market,1528 W 23rd St. Lawrence,Kansas,,jbutler@apricusqsr.com,2023-10-22,None,2025

In [5]:
# Calendar Dates Flagged
events = pd.read_excel('data/events_flag.xlsx')
#1) Load fiscal calendar ---
cal = pd.read_excel('data/fiscal_calendar (1).xlsx')
cpi_raw =  pd.read_excel('data/cpi_data.xlsx')

In [6]:
# stores to excludeb agreed with Leonor
exclude_stores = [364001, 364002, 364003, 364004, 364005, 364006, 364007, 364008, 364009, 364010]

# Select required columns and exclude the stores
h = heatmap[
    ~heatmap["store_number"].isin(exclude_stores)
][[
    "event_date",
    "total_net_sales",
    "store_number",
    "total_advertising"
]]

h.head()

   event_date total_net_sales store_number total_advertising
0  2025-02-24        158653.0       364011            8039.0
1  2025-02-24         60466.0       364012            3166.0
2  2025-02-24         89593.0       364013            4480.0
3  2025-02-24         84857.0       364014            4243.0
4  2025-02-24         45206.0       364015            2260.0

#final

In [15]:
# ---------- Show ALL 6‑period forecasts (robust to calendar column names) ----------

def _norm_id(s): 
    return str(s).strip().lstrip('0')

def _std_fiscal_cols(cal_df: pd.DataFrame):
    """Return calendar with standardized fiscal cols if possible (fiscal_year/fiscal_period)."""
    cal2 = cal_df.copy()
    norm = {c.lower().replace(' ', '').replace('_',''): c for c in cal2.columns}
    fy_src = norm.get('fiscalyear') or norm.get('year') or norm.get('fy')
    fp_src = norm.get('fiscalperiod') or norm.get('period') or norm.get('fp')
    ok = fy_src is not None and fp_src is not None
    if ok:
        cal2 = cal2.rename(columns={fy_src: 'fiscal_year', fp_src: 'fiscal_period'})
    return cal2, ok

# Merge BeginningDate onto the forecast if available
cal2, ok = _std_fiscal_cols(cal)
if ok:
    on_cols = ['fiscal_year','fiscal_period']
    if 'BeginningDate' in cal2.columns:
        cal_uniq = cal2[on_cols + ['BeginningDate']].drop_duplicates()
    else:
        cal_uniq = cal2[on_cols].drop_duplicates()
    all_fc = pred_6.merge(cal_uniq, on=on_cols, how='left')
else:
    all_fc = pred_6.copy()

# Order nicely
all_fc['_id_norm'] = all_fc['store_number'].astype(str).str.strip().str.lstrip('0')
sort_cols = [c for c in ['_id_norm','horizon','fiscal_year','fiscal_period'] if c in all_fc.columns]
all_fc = all_fc.sort_values(sort_cols)

# Select clean output columns
out_cols = ['store_number']
if 'BeginningDate' in all_fc.columns: out_cols.append('BeginningDate')
for c in ['fiscal_year','fiscal_period','horizon','forecast']:
    if c in all_fc.columns: out_cols.append(c)
all_fc = all_fc[out_cols].reset_index(drop=True)

# Display a preview and save the full table
display(all_fc.head(20))
print(f"Total forecast rows: {len(all_fc)} (stores x 6 horizons)")
all_fc.to_csv("artifacts/pooled_ridge_v1/forecast_h6_all.csv", index=False)

# ---------- Per‑store (example: 364012) ----------
def show_store_forecast(pred_all: pd.DataFrame, cal_df: pd.DataFrame, store_id):
    key = _norm_id(store_id)
    df = pred_all.copy()
    df['_id_norm'] = df['store_number'].astype(str).str.strip().str.lstrip('0')

    # Attach BeginningDate if needed
    cal2, ok = _std_fiscal_cols(cal_df)
    if ok and 'BeginningDate' in df.columns:
        # Already merged above, so just filter/sort
        view = df[df['_id_norm'] == key]
    else:
        view = df[df['_id_norm'] == key]
    if view.empty:
        print(f"No forecast rows for store {store_id} (maybe excluded).")
        return
    view = view.sort_values([c for c in ['horizon','fiscal_year','fiscal_period'] if c in view.columns])
    display(view)
    print("Horizon counts:", view['horizon'].value_counts().sort_index().to_dict())

# Example: show all 6 periods for store 364012
show_store_forecast(all_fc, cal, 364012)

,store_number,BeginningDate,fiscal_year,fiscal_period,horizon,forecast
0,364011,2025-09-09,2025,10,1,163954.027138
1,364011,2025-10-07,2025,11,2,150102.650569
2,364011,2025-11-04,2025,12,3,139789.743664
3,364011,2025-12-02,2025,13,4,132732.311290
4,364011,NaT,2026,1,5,128464.909384
5,364011,NaT,2026,2,6,126326.315596
6,364012,2025-09-09,2025,10,1,60405.071118
7,364012,2025-10-07,2025,11,2,55686.004008
8,364012,2025-11-04,2025,12,3,52560.786488
9,364012,2025-12-02,2025,13,4,51160.507864
10,364012,NaT,2026,1,5,51345.634000
11,364012,NaT,2026,2,6,52711.453712
12,364013,2025-09-09,2025,10,1,94884.983384
13,364013,2025-10-07,2025,11,2,88576.770008
14,364013,2025-11-04,2025,12,3,84200.796609
15,364013,2025-12-02,2025,13,4,81816.096158
16,364013,NaT,2026,1,5,81226.421753
17,364013,NaT,2026,2,6,81982.425772
18,364014,2025-09-09,2025,10,1,103714.386771
19,364014,2025-10-07,2025,11,2,97703.213078

Total forecast rows: 366 (stores x 6 horizons)

,store_number,BeginningDate,fiscal_year,fiscal_period,horizon,forecast,_id_norm
6,364012,2025-09-09,2025,10,1,60405.071118,364012
7,364012,2025-10-07,2025,11,2,55686.004008,364012
8,364012,2025-11-04,2025,12,3,52560.786488,364012
9,364012,2025-12-02,2025,13,4,51160.507864,364012
10,364012,NaT,2026,1,5,51345.634000,364012
11,364012,NaT,2026,2,6,52711.453712,364012

Horizon counts: {1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1}